.container {
  height: 100%;
  display: grid;

  grid-template-columns: 1fr;
  grid-template-rows: minmax(220px, 260px) 1fr;
}

@media (min-width: 700px) {
  .container {
    grid-template-columns: auto auto 1fr;
    grid-template-rows: 1fr;
  }
}
